body {
    text-align: center;
}


/* тут я хотів зробити щоб стали 3 картинки в 1 ряду, але щось не вийшло */
/* .image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
} */

.lazy-image {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: #f0f0f0;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.visible {
  opacity: 1;
}